[Unit]
Description=uWSGI Triscore Prod API

[Service]
User=dmitriyd
Group=dmitriyd
ExecStart=/usr/bin/uwsgi --ini /home/dmitriyd/triscore_prod/api/config/uwsgi/prod-regru.ini
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardOutput=file:/var/log/triscore-prod-api/access.log
StandardError=file:/var/log/triscore-prod-api/error.log
NotifyAccess=all

[Install]
WantedBy=multi-user.target